[flake8]
exclude =
    .jupyter_cache,
    __pycache__,
    .git,
    .venv,
    _build

# Ignore formatting issues (use black or autopep8 for autofix)
ignore =
    E111,
    E114,
    E117,
    E501,
    E231,
    E251,
    E261,
    E402,
    W291,
    W293

max-line-length = 100
