# from: https://github.com/cloudnativegeo/cloud-optimized-geospatial-formats-guide/blob/main/.github/workflows/ci.yml

name: CI

# On every pull request, but only on push to main
on:
  push:
    branches:
      - main
  pull_request:

jobs:


  tests:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync

      - name: Run pre-commit
        run: uv run pre-commit run --all-files

      - name: Lint QMD files (ruff + vulture)
        run: |
          uv run lintquarto -l ruff vulture -p en/
